.board-name-button {
  font-size: 125%;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.archive md-icon {
  color: red;
}

.unarchive md-icon {
  color: green;
}
