@import '../../app.component';

md-input {
  width: 100%;
}

:host {
  position: relative;
}

.details-header-button {
  font-size: 125%;
  font-weight: bold;
}

.edit_board_form {
  position: absolute;
  top: 35px;
  width: 300px;

  @extend .pop-over;
}
