@import "../../node_modules/@angular2-material/core/overlay/overlay.css";


// styles in src/style directory are applied to the whole page
body {
  margin: 0px;
  background: whitesmoke;
}
a {
    color: #03A9F4;
}

main {
  position: absolute;
  top: 64px; // Height of nav bar
  bottom: 0;
  left: 0;
  right: 0;
}
