// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

app-nav {
  display: block;
  position: relative;
}


.pop-over {
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #D6DADC;
  border-bottom-color: #C4C9CC;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  overflow: hidden;
  width: 300px;
  z-index: 70;
  -webkit-transform: translate3d(0,0,0);
}

.hover-darken {
  &:hover {
    background: rgba(0,0,0,.12);
  }
}
