@import '../app.component';

nav {
  background: #026AA7;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  a {
    text-decoration: none;
  }

  button {
    color: white;
    background: rgba(255, 255, 255, 0.6);
    border:none;
    outline: none;
    border-radius: 3px;
  }

  .app-link {
    font-size: 150%;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Lobster', cursive;
  }


}

.add-dialog {
  position: absolute;
  right: 5px;
  top: 55px;
  background: white;

  @extend .pop-over;

}

.app-link {
  color: white;
  font-family: 'Lobster', cursive;
  text-decoration: none;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
