:host {
  background: #E2E4E6;
  padding: 15px;
  border-radius: 3px;
}

header {
  text-align: left;
}

.task {
  padding: 5px;
  background: white;
  margin: 5px 0;
  text-align: left;
  border-radius: 3px;
}
